<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}Bienvenidos{% endblock %}
	</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/media/bootstrap/css/bootstrap-responsive.css">
	<script src="/media/js/jquery.js"></script>
	<script src="/media/bootstrap/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="/media/css/estilo.css">
	<style>
	body{
		padding-top: 60px;
		padding-bottom: 40px;
	}
	.sidebar-nav{
		padding: 9px, 0;
	}
	</style>
	<script type="text/javascript">
		$(document).on('ready',function(){
			$.ajax({
				type:"GET",
				contentType:"application/json; charset=utf-8",
				dateType:"json",
				url:"/ws/productos/",
				success:function(response){
					var i = (response.length-1)-2;
					for(i;i<=response.length-1;i++){
						$('#ProductosNuevos').append("<a href='/producto/"+(i+1)+"'><li>"+response[i].fields.nombre+"</li></a>");
					}
				}
			});
		});
	</script>
</head>
<body>
	<!-- pone el menu en la parte superior -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="{% url "vista_principal" %}"> Proyecto Ventas</a>
			{% if user.is_authenticated %}
			<p class="navbar-text pull-right">
				Usuario {{user.username}}
			</p>
			{% endif %}
			<ul class="nav">
			<li><a href="{% url "vista_principal" %}">Inicio</a></li>
			<li><a href="/productos/page/1/">Productos</a></li>
			<li><a href="{% url "vista_contacto" %}">Contacto</a></li>
			<li><a href="{% url "vista_about" %}">Acerca de...</a></li>
			{% if user.is_authenticated %}
			<li><a href="{% url "vista_logout" %}"> Cerrar Seccion</a></li>
			{% else %}
			<li><a href="{% url "vista_login" %}">Login</a></li>
			{% endif %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span9"><!-- tamano contenido principal -->
				<div class="hero-unit">
					{% block content %}
					{% endblock %}
				</div> <!-- pone color al div -->
			</div>
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Mi Perfil</li>
						<br>
						{% if user.is_authenticated %}
							<p align="justify">
								<p>Bienvenido {{user}}</p>
								<img src="{{get_image_profile}}" width="50px" height="50px"/>
							</p>
						{% else %}
							<a href="/login/" class="btn btn-primary">Login</a>
						{% endif %}
					</ul>
				</div>
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Mi Carrito</li>
						<br>
						<p align="justify">
							Carrito de Super
						</p>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list" id="ProductosNuevos">
						<li class="nav-header">Nuevos Productos</li>
					</ul>
				</div>
				<img src="/media/images/imagenDjango.png"/>
			</div>
		</div>
		<hr>
	</div>
	<footer id="footer">
		<p>&copy; Herley Puerta 2013</p>
		<p>Version django {{django_version}}</p>
	</footer>
</body>
</html>